/* == Root == */
:root {
  /*=Color Basic=*/
  --clr-white: #fff;
  --clr-black: #000;
  --clr-black-2: #0d0d0d;
  --clr-primary: #ab04d9;
  --clr-secondary: #0cf2b1;
  /*= Colors UX Style =*/
  --clr-ux-one: #45214a;
  --clr-ux-two: #323050;
  --clr-ux-tree: #5d8a66;
  /*=Typography=*/

  /*=Font Size=*/
  --font-size-extra: 3rem;
  --font-size-title: 2.4rem;
  --font-size-Big: 1.8rem;
  --font-size-Medium: 1.6rem;
  --font-size-medium-plus: 1.5rem;
  --font-size-small: 1.2rem;
  -font-size-small-plus: 0.8rem;
  /*=Margins=*/
  --margin-top: 2rem;
  --margin-bottom: 2rem;
  --margin-left: 1rem;
  --margin-right: 1rem;
  --margin: 0 auto;
  /*=Text=*/
  --letter-spacing: 0.1rem;
}
/* === General Project ===*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
ul {
  list-style: none;
}
a {
  cursor: pointer;
  text-decoration: none;
  color: #000;
}
img {
  object-fit: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 100%;
}
p,
span {
  letter-spacing: 0.1rem;
}
h1 {
  text-transform: uppercase;
}
/* =Animation =*/
@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
body {
  width: 100%;
  height: 100vh;
}
/*Barba*/
.wrapper {
  padding: 1rem;
}
li a {
  margin-right: 2rem;
}
h1 {
  font-size: 1rem;
  margin-top: 1.5rem;
}
header {
  width: 100%;
  height: 6rem;
  margin: 0 auto;
  padding: 1rem;
  border: 2px solid #000;
}
header nav {
  width: 100%;
  height: 100%;
}
header nav ul {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.text {
  font-size: 1.6rem;
  font-weight: 700;
  color: #000;
}
.img-barba {
  width: 100%;
  height: 800px;
  object-fit: cover;
  /* width: 100%;  */
  clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
}
h1 {
  font-size: 5rem;
  font-weight: 900;
  color: #000;
}
.cta {
  display: block;
  padding: 2rem 2rem 2rem 0;
  font-size: 2.5rem;
  font-weight: 700;
  color: #333;
}
ul.transition {
  display: flex;
  position: absolute;
  z-index: 10;
  height: 100vh;
  width: 100%;
  top: 0;
  left: 0;
  margin: 0;
  pointer-events: none;
}
ul.transition li {
  transform: scaleY(0);
  background: #fff;
  width: 20%;
}
