/* = Media Queries = */

/*Mobile ==== ================= =========== >>>>*/
@media (max-width: 319px) {
}

@media (min-width: 320px) and (max-width: 480px) {
  .background__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(0.5);
    background-position: bottom;
  }

  .page {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 100px 1fr 1fr;
    gap: 0.5rem;
    position: relative;
    z-index: 10;
  }
  .header__navigation {
    /* border: 4px solid wheat; */
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    width: 100%;
    height: 100%;
  }

  .navigation {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
  }
  .navigation__logo {
    position: relative;
    left: 1.5rem;
  }
  .navigation__logo img {
    object-fit: cover;
    width: 5rem;
    height: 5rem;
  }
  .navigation__icons {
    display: none;
  }
  .navigation__name {
    display: none;
  }
  /*Menu Burger*/
  .active {
    width: 5rem;
    height: 5rem;
    border: 2px solid #fff;
    border-radius: 50%;
    position: relative;
    left: 400px;
    bottom: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
  .active .menu__active {
    font-size: 2.5rem;
    color: #fff;
  }
  .menu__active:active {
    transform: scale(0.9);
  }
  .wrapper__burger {
    width: 100%;
    height: 50%;
    border: 2px solid #fff;
    position: relative;
    bottom: 4.5rem;
    display: none;
  }
  .wrapper__burger .burger-list {
    width: 100%;
    height: 100%;
    flex-direction: column;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  .burger-list a {
    color: #000;
    font-size: 4rem;
    font-weight: 700;
  }
  .burger-list a:hover {
    color: #000;
    opacity: 0.5;
  }
  .wrapper__burger.active {
    display: grid;
    width: 100%;
    height: 50vh;
    border-radius: 0;
    position: relative;
    left: 0;
    background: rgba(255, 255, 255, 0.45);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    /* border-radius: 10px; */
    /*  border: 1px solid rgba(255, 255, 255, 0.18); */
  }
  aside {
    display: none;
  }
  .main {
    grid-column: 1 / 2;
    grid-row: 2 / 4;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 0.5rem;
  }
  .main .main__background {
    width: 100%;
    height: 100%;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    display: flex;
    align-items: flex-end;
    padding: 1rem;
  }
  .main .main__background .text {
    font-family: var(--font-family-changelin);
    color: #fff;
    filter: opacity(0.5);
    margin-left: 1rem;
    margin-bottom: 1rem;
    width: 90%;
    text-align: center;
    animation: text 2s 2s ease-in-out;
  }
  .main .main__neon {
    width: 100%;
    height: 100%;
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding: 1rem;
  }
  .main__neon .neon-title {
    font-size: 6rem;
    position: relative;
    top: 9rem;
    /*   margin-left: 1rem; */
    color: var(--clr-secondary);
    width: 100%;
    font-weight: 900;
    font-family: var(--font-family-changelin);
    text-align: center;
    animation: title 2s 2s ease-in;
  }
  .main__neon .neon-text {
    width: 100%;
    font-size: 3rem;
    position: relative;
    color: var(--clr-primary);
    font-weight: 400;
    /* filter: opacity(0.5); */
    top: 10rem;
    margin-top: 1rem;
    text-align: center;
    animation: neonText 2s 2s ease-in-out;
  }
  .neon-text::after {
    content: " ";
    display: flex;
    border: 2px solid var(--clr-primary);
    margin-top: 1.5rem;
    width: 25%;
    position: absolute;
    left: 35%;
    border-radius: 1rem;
  }
  .main__numbers {
    display: none;
  }
  .main__model {
    display: none;
  }
  .modal__up {
    grid-column: 1 / 2;
    grid-row: 2 / 4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    animation: up 2s 2s ease-in-out;
  }
  .modal__up .swipe {
    position: relative;
    top: 3rem;
    animation: upOn 1.5s 1s ease-in-out infinite;
  }
  @keyframes upOn {
    to {
      transform: translateY(-30px);
    }
    50% {
      transform: translateY(-15px);
    }
    from {
      transform: translateY(0px);
    }
  }

  .swipe i {
    color: #fff;
    font-size: 9rem;
  }
  .modal__up .swipe-text {
    position: relative;
    top: 3rem;
  }
  .swipe-text .text-go {
    font-size: 3rem;
    color: #fff;
    position: relative;
    top: 20px;
  }
  .main__twoImg {
    display: none;
  }
}
/*Tablet ==== ================ ============ >>>>>>>>*/
@media (min-width: 481px) and (max-width: 768px) {
  .background__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-position: right;
    filter: brightness(0.5);
    background-repeat: no-repeat;
    filter: brightness(0.5);
  }

  .page {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 70px 1fr;
    grid-template-rows: 80px 1fr 1fr;
    gap: 0.5rem;
    position: relative;
    z-index: 10;
  }
  .header__navigation {
    /* border: 4px solid wheat; */
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    width: 100%;
    height: 100%;
  }

  .navigation {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
  }
  .navigation__logo {
    position: relative;
    left: 2rem;
  }
  .navigation__logo img {
    object-fit: cover;
    width: 5rem;
    height: 5rem;
  }
  .navigation__icons {
    display: none;
  }
  .navigation__name {
    display: none;
  }
  /*Menu Burger*/
  .active {
    width: 5rem;
    height: 5rem;
    border: 2px solid #fff;
    border-radius: 50%;
    position: relative;
    left: 650px;
    bottom: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 10;
  }
  .active .menu__active {
    font-size: 2.5rem;
    color: #fff;
  }
  .menu__active:active {
    transform: scale(0.9);
  }
  .wrapper__burger {
    width: 100%;
    height: 50%;
    border: 2px solid #fff;
    position: relative;
    bottom: 4.5rem;
    display: none;
  }
  .wrapper__burger .burger-list {
    width: 100%;
    height: 100%;
    flex-direction: column;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  .burger-list a {
    color: #000;
    font-size: 3rem;
    font-weight: 700;
  }
  .burger-list a:hover {
    color: #333;
  }
  .wrapper__burger.active {
    display: grid;
    width: 100%;
    height: 50vh;
    border-radius: 0;
    position: absolute;
    left: 0;
    background: rgba(255, 255, 255, 0.45);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    /* border-radius: 10px; */
    /*  border: 1px solid rgba(255, 255, 255, 0.18); */
    grid-column: 1 / 3;
    grid-row: 2 / 3;
    top: 0;
  }
  .aside {
    width: 100%;
    height: 100%;
    grid-column: 1 / 2;
    grid-row: 2 / 4;
  }
  .aside__text {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
  }
  .aside__text--plus {
    width: 100%;
    height: 100%;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }
  .aside__text--plus p {
    transform: rotate(-90deg);
    color: #fff;
    font-weight: 700;
    font-size: 1.8rem;
  }
  .aside__text--plus p::after {
    content: " ";
    display: flex;
    width: 25%;
    border: 2px solid #fff;
    border-radius: 1rem;
    margin-top: 0.5rem;
  }

  .main {
    width: 100%;
    height: 100%;
    grid-column: 2 / 3;
    grid-row: 2 / 4;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 0.5rem;
  }
  .main__background {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    position: relative;
    width: 100%;
    height: 50%;
    z-index: 2;
  }
  .main__background .text {
    color: #fff;
    text-align: center;
    display: flex;
    justify-content: center;
    position: relative;
    top: 150px;
    font-size: 2rem;
    animation: backText 1.5s 1.5s ease-in-out forwards;
  }
  .main__neon {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    width: 100%;
    height: 50%;
    z-index: 2;
  }
  .neon-title {
    font-size: 8rem;
    color: var(--clr-secondary);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: neonOne 1.5s 1.5s ease-in-out forwards;
  }
  .neon-text {
    width: 100%;
    text-align: center;
    font-size: 1.5rem;
    color: var(--clr-primary);
    z-index: 2;
    position: relative;
    bottom: 200px;
    animation: neonMore 1.5s 1.5s ease-in-out forwards;
  }
  .main__twoImg {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    width: 100%;
    height: 100%;
    padding: 1rem;
  }
  .main__twoImg img {
    object-fit: cover;
    object-fit: cover;
    width: 100%;
    height: 50%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 1rem;
    filter: brightness(0.5);
  }
  .main__numbers {
    display: none;
  }
  .main__model {
    display: none;
  }
  .modal__up {
    display: none;
  }
}
/*Laptop==== ============= ========== ========= >>>>>*/
@media (min-width: 769px) and (max-width: 1024px) {
  .background__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-position: left top;
    filter: brightness(0.5);
  }

  .page {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 70px 1fr 1fr 1fr;
    grid-template-rows: 80px 1fr 1fr;
    gap: 0.5rem;
    position: relative;
    z-index: 10;
  }
  .header__navigation {
    width: 100%;
    height: 100%;
    grid-column: 1 / 5;
    grid-row: 1 / 2;
  }
  .navigation {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .navigation .navigation__logo {
    margin-left: 1.5rem;
  }
  .navigation__logo img {
    width: 6rem;
    height: 6rem;
    object-fit: cover;
  }
  .navigation__name {
    width: 200px;
    position: relative;
    right: 200px;
  }
  .navigation__name .name-logo {
    font-size: 2rem;
    color: #fff;
    filter: opacity(0.5);
    font-weight: 700;
    letter-spacing: 0.1rem;
  }
  .navigation__icons {
    width: 200px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  .navigation__icons .icon-search {
    color: #fff;
    font-size: 1.5rem;
  }
  .navigation__icons .icon-burger {
    color: #fff;
    font-size: 1.5rem;
  }
  .aside {
    grid-column: 1 / 2;
    grid-row: 2 / 4;
    width: 100%;
    height: 100%;
  }
  .aside__text {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    align-items: center;
  }
  .aside__text--plus {
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 4rem;
  }
  .aside__text--plus p {
    font-size: 20px;
    color: #fff;
    filter: opacity(0.5);
    font-weight: 700;
    transform: rotate(-90deg);
  }
  .aside__text--plus p::after {
    content: " ";
    display: flex;
    width: 50%;
    border: 2px solid #fff;
    margin-top: 0.5rem;
    border-radius: 1rem;
  }

  .main {
    width: 100%;
    height: 100%;
    grid-column: 2 / 5;
    grid-row: 2 / 4;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }
  .main__background {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    width: 100%;
    height: 80%;
    border-radius: 1rem;
    padding: 1rem;
    /* background: rgba(248, 244, 244, 0.2); */
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    /* backdrop-filter: blur(4px); */
    -webkit-backdrop-filter: blur(4px);
    /* border-radius: 10px; */
    border: 1px solid rgba(255, 255, 255, 0.18);
  }
  .main__background .text {
    width: 100%;
    position: absolute;
    right: 200px;
    top: 450px;
    z-index: 15;
    transform: rotate(90deg);
    font-family: var(--font-family-changelin);
    /*  height: 100%; */
    text-align: center;
    text-transform: uppercase;
    font-size: 12rem;
    font-weight: 900;
    background-image: url("/src/assets/img/img4.jpg");
    background-size: contain;
    object-fit: cover;
    background-position-y: 500px;
    background-clip: text;
    -webkit-background-clip: text;

    -webkit-text-fill-color: transparent;

    animation: backTextTwo 1.5s 1.5s ease-in-out forwards;
  }
  .main__neon {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
  }
  .main__neon .neon-title {
    color: var(--clr-secondary);
    font-size: 60px;
    transform: rotate(-90deg);
    position: relative;
    right: 120px;
    bottom: 50px;
  }
  .main__neon .neon-text {
    transform: rotate(-90deg);
    font-size: 1.2rem;
    position: relative;
    right: 300px;
    top: 50px;
    color: var(--clr-primary);
    /*  filter: opacity(0.5); */
  }
  .main__numbers {
    grid-row: 1 / 2;
    grid-column: 2 / 3;
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  .main__numbers .one {
    color: #fff;
    filter: opacity(0.5);
    font-size: 8rem;
    font-weight: 700;
  }
  .main__numbers .line {
    width: 100px;
    border: 2px solid #fff;
    border-radius: 1rem;
  }
  .main__numbers .two {
    color: var(--clr-secondary);
    font-size: 3rem;
    font-weight: 500;
  }
  .main__model {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
  }
  .main__model .model-text {
    font-size: 5rem;
    font-weight: 700;
    color: var(--clr-primary);
    /* filter: brightness(0.5); */
    position: relative;
    top: 10rem;
  }
  .model-text::after {
    content: " ";
    width: 50%;
    border: 2px solid #fff;
    display: flex;
    border-radius: 1rem;
    margin-top: 0.5rem;
  }
  .active {
    display: none;
  }
  .wrapper__burger {
    display: none;
  }
  .modal__up {
    display: none;
  }
}
/*Large Screen ==== ========== =============== >>>>>>*/
@media (min-width: 1024px) and (max-width: 1200px) {
  .background__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-position: left;
    filter: brightness(0.5);
  }

  .page {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 70px 1fr 1fr 1fr;
    grid-template-rows: 80px 1fr 1fr;
    gap: 0.5rem;
    position: relative;
    z-index: 10;
  }
  .header__navigation {
    width: 100%;
    height: 100%;
    grid-column: 1 / 5;
    grid-row: 1 / 2;
  }
  .navigation {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .navigation .navigation__logo {
    margin-left: 1.5rem;
  }
  .navigation__logo img {
    width: 6rem;
    height: 6rem;
    object-fit: cover;
  }
  .navigation__name {
    width: 200px;
    position: relative;
    right: 200px;
  }
  .navigation__name .name-logo {
    font-size: 2rem;
    color: #fff;
    filter: opacity(0.5);
    font-weight: 700;
    letter-spacing: 0.1rem;
  }
  .navigation__icons {
    width: 200px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  .navigation__icons .icon-search {
    color: #fff;
    font-size: 1.5rem;
  }
  .navigation__icons .icon-burger {
    color: #fff;
    font-size: 1.5rem;
  }
  .aside {
    grid-column: 1 / 2;
    grid-row: 2 / 4;
    width: 100%;
    height: 100%;
  }
  .aside__text {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    align-items: center;
  }
  .aside__text--plus {
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 4rem;
  }
  .aside__text--plus p {
    font-size: 20px;
    color: #fff;
    filter: opacity(0.5);
    font-weight: 700;
    transform: rotate(-90deg);
  }
  .aside__text--plus p::after {
    content: " ";
    display: flex;
    width: 50%;
    border: 2px solid #fff;
    margin-top: 0.5rem;
    border-radius: 1rem;
  }

  .main {
    width: 100%;
    height: 100%;
    grid-column: 2 / 5;
    grid-row: 2 / 4;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }
  .main__background {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    width: 100%;
    height: 80%;
    border-radius: 1rem;
    padding: 1rem;
    /* background: rgba(248, 244, 244, 0.2); */
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    /* backdrop-filter: blur(4px); */
    -webkit-backdrop-filter: blur(4px);
    /* border-radius: 10px; */
    border: 1px solid rgba(255, 255, 255, 0.18);
  }
  .main__background .text {
    width: 100%;
    position: absolute;
    right: 200px;
    top: 450px;
    z-index: 15;
    transform: rotate(90deg);
    font-family: var(--font-family-changelin);
    /*  height: 100%; */
    text-align: center;
    text-transform: uppercase;
    font-size: 12rem;
    font-weight: 900;
    background-image: url("/src/assets/img/img4.jpg");
    background-size: contain;
    object-fit: cover;
    background-position-y: 500px;
    background-clip: text;
    -webkit-background-clip: text;

    -webkit-text-fill-color: transparent;
  }
  .main__neon {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
  }
  .main__neon .neon-title {
    color: var(--clr-secondary);
    font-size: 60px;
    transform: rotate(-90deg);
    position: relative;
    right: 120px;
    bottom: 50px;
  }
  .main__neon .neon-text {
    transform: rotate(-90deg);
    font-size: 1.2rem;
    position: relative;
    right: 300px;
    top: 50px;
    color: var(--clr-primary);
    /*  filter: opacity(0.5); */
  }
  .main__twoImg {
    width: 100%;
    height: 100%;
    grid-column: 2 / 3;
    grid-row: 1 / 3;
    padding: 2rem;
  }
  .main__twoImg img {
    object-fit: cover;
    border-radius: 1rem;
  }
  .main__numbers {
    grid-row: 1 / 2;
    grid-column: 2 / 3;
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    z-index: 2;
  }
  .main__numbers .one {
    color: #fff;
    filter: opacity(0.5);
    font-size: 8rem;
    font-weight: 700;
  }
  .main__numbers .line {
    width: 100px;
    border: 2px solid #fff;
    border-radius: 1rem;
  }
  .main__numbers .two {
    color: var(--clr-secondary);
    font-size: 3rem;
    font-weight: 500;
  }
  .main__model {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    z-index: 2;
  }
  .main__model .model-text {
    font-size: 5rem;
    font-weight: 700;
    color: var(--clr-primary);
    /* filter: brightness(0.5); */
    position: relative;
    top: 10rem;
  }
  .model-text::after {
    content: " ";
    width: 50%;
    border: 2px solid #fff;
    display: flex;
    border-radius: 1rem;
    margin-top: 0.5rem;
  }
  .active {
    display: none;
  }
  .wrapper__burger {
    display: none;
  }
  .modal__up {
    display: none;
  }
}
/*Extra Large Screen ==== ============ =========== >>>>>>>*/
@media (min-width: 1200px) and (max-width: 1920px) {
  .background__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-position: center;
    filter: brightness(0.5);
  }

  .page {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 70px 1fr 1fr 1fr;
    grid-template-rows: 80px 1fr 1fr;
    gap: 0.5rem;
    position: relative;
    z-index: 10;
  }
  .header__navigation {
    width: 100%;
    height: 100%;
    grid-column: 1 / 5;
    grid-row: 1 / 2;
  }
  .navigation {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .navigation .navigation__logo {
    margin-left: 1.5rem;
  }
  .navigation__logo img {
    width: 6rem;
    height: 6rem;
    object-fit: cover;
  }
  .navigation__name {
    width: 200px;
    position: relative;
    right: 200px;
  }
  .navigation__name .name-logo {
    font-size: 2rem;
    color: #fff;
    filter: opacity(0.5);
    font-weight: 700;
    letter-spacing: 0.1rem;
  }
  .navigation__icons {
    width: 200px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  .navigation__icons .icon-search {
    color: #fff;
    font-size: 1.5rem;
  }
  .navigation__icons .icon-burger {
    color: #fff;
    font-size: 1.5rem;
  }
  .aside {
    grid-column: 1 / 2;
    grid-row: 2 / 4;
    width: 100%;
    height: 100%;
  }
  .aside__text {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    align-items: center;
  }
  .aside__text--plus {
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 4rem;
  }
  .aside__text--plus p {
    font-size: 20px;
    color: #fff;
    filter: opacity(0.5);
    font-weight: 700;
    transform: rotate(-90deg);
  }
  .aside__text--plus p::after {
    content: " ";
    display: flex;
    width: 50%;
    border: 2px solid #fff;
    margin-top: 0.5rem;
    border-radius: 1rem;
  }

  .main {
    width: 100%;
    height: 100%;
    grid-column: 2 / 5;
    grid-row: 2 / 4;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 1rem;
  }
  .main__background {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    width: 100%;
    height: 100%;
    border-radius: 1rem;
    padding: 1rem;
    /* background: rgba(248, 244, 244, 0.2); */
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    /* backdrop-filter: blur(4px); */
    -webkit-backdrop-filter: blur(4px);
    /* border-radius: 10px; */
    border: 1px solid rgba(255, 255, 255, 0.18);
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("/src/assets/img/img2.png");
    object-fit: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  /*  .main__background .text {
    width: 100%;
    position: absolute;
    right: 200px;
    top: 450px;
    z-index: 15;
    transform: rotate(90deg);
    font-family: var(--font-family-changelin);
    text-align: center;
    text-transform: uppercase;
    font-size: 12rem;
    font-weight: 900;
    background-image: url("/src/assets/img/img2.png");
    background-size: contain;
    object-fit: cover;
    background-position-y: 500px;
    background-clip: text;
    -webkit-background-clip: text;

    -webkit-text-fill-color: transparent;
  } */
  .main__neon {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
  }
  .main__neon .neon-title {
    color: var(--clr-secondary);
    font-size: 60px;
    transform: rotate(-90deg);
    position: relative;
    right: 120px;
    bottom: 50px;
  }
  .main__neon .neon-text {
    transform: rotate(-90deg);
    font-size: 1.2rem;
    position: relative;
    right: 300px;
    top: 50px;
    color: var(--clr-primary);
    /*  filter: opacity(0.5); */
  }
  .main__twoImg {
    grid-column: 2 / 4;
    grid-row: 1 / 3;
    width: 100%;
    height: 100%;
    padding: 1rem;
  }
  .main__twoImg img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
  .main__numbers {
    grid-row: 1 / 2;
    grid-column: 2 / 3;
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  .main__numbers .one {
    color: #fff;
    filter: opacity(0.5);
    font-size: 8rem;
    font-weight: 700;
  }
  .main__numbers .line {
    width: 100px;
    border: 2px solid #fff;
    border-radius: 1rem;
  }
  .main__numbers .two {
    color: var(--clr-secondary);
    font-size: 3rem;
    font-weight: 500;
  }
  .main__model {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
  }
  .main__model .model-text {
    font-size: 5rem;
    font-weight: 700;
    color: var(--clr-primary);
    /* filter: brightness(0.5); */
    position: relative;
    top: 10rem;
  }
  .model-text::after {
    content: " ";
    width: 50%;
    border: 2px solid #fff;
    display: flex;
    border-radius: 1rem;
    margin-top: 0.5rem;
  }
  .active {
    display: none;
  }
  .wrapper__burger {
    display: none;
  }
  .modal__up {
    display: none;
  }
}
