/* = Media Queries = */

/*= XXS (Watch) =*/
@media only screen and (max-width: 240px) {
}
/*= XS (Mobile First)=*/
@media only screen and (max-width: 360px) {
}
/*= SM  (Mobile First) =*/
@media only screen and (max-width: 480px) {
  .header {
    width: 100%;
    height: 3rem;
  }
  .navigation {
    width: 100%;
    height: 100%;
  }
  .nav__logo {
    width: 3rem;
    height: 3rem;
    background-color: #333;
    border-radius: 50%;
  }
  .nav__logo img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
  .nav__name {
    position: relative;
    right: 5rem;
  }
  .nav__name span {
    color: #fff;
    font-weight: 700;
  }
  .nav__icon span {
    font-size: 1.2rem;
    font-weight: 700;
  }
  .nav__icon {
    display: none;
  }
  .nav__user .users {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    position: relative;
    left: 5rem;
  }
  .users img {
    border-radius: 50%;
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
  .nav__battery {
    width: 6rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
    right: 2rem;
  }
  .nav__battery a {
    font-size: 1.2rem;
  }
  .nav__burger {
    position: absolute;
    right: 1rem;
  }
  .nav__burger a {
    font-size: 1.8rem;
  }
  .aside {
    display: none;
  }
  .aside__two {
    display: none;
  }
  /*main*/
  .main {
    width: 100%;
    height: 600px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 0.5rem;
  }
  .main__user {
    width: 100%;
    height: 100%;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .main__user img {
    width: 250px;
    height: 250px;
    object-fit: cover;
    border-radius: 50%;
  }
}
@media only screen and (min-width: 479px) and (max-width: 767px) {
}
/*= MD  (Tablet) =*/
@media only screen and (min-width: 768px) {
}
@media only screen and (min-width: 769px) and (max-width: 1023px) {
}
/*=  LG (Laptop) =*/
@media only screen and (min-width: 1024px) {
}
/*=  LG (Laptop and Screen) =*/
@media only screen and (min-width: 1440px) {
}
/*=  LG (Laptop and Screen and More) =*/
@media only screen and (min-width: 1920px) {
}

/* Design Model */
@media screen and (orientation: landscape) {
  // Styles for landscape mode.
  body::after {
    content: "Landscape";
  }
}
@media screen and (orientation: portrait) {
  // Styles for portrait mode.
  body::after {
    content: "Portrait";
  }
}
