/*  == Import ==*/
@import url("/src/css/mediaQueries.css");
@import url("/src/css/frameworks.css");
@import url("/src/css/components.css");

/* == Root == */
:root {
  --clr-white: #fff;
  --clr-black: #000;
}
/* === General Project ===*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  width: 100%;
}
