/*  == Import ==*/
@import url("/src/css/mediaQueries.css");
@import url("/src/css/frameworks.css");
@import url("/src/css/components.css");

/* == Root == */
:root {
  /*=Color Basic=*/
  --clr-white: #fff;
  --clr-black: #000;
  --clr-black-2: #0D0D0D; 
  --clr-primary: #AB04D9; 
  --clr-secondary: #0CF2B1; 
  /*= Colors UX Style =*/
  --clr-ux-one: #45214A; 
  --clr-ux-two: #323050; 
  --clr-ux-tree: ;#5D8A66 
  /*=Typography=*/
  --font-family-Poppins: "Poppins", sans-serif;
  --font-family-changelin: changeling-neo,sans-serif;
  /*=Font Size=*/
  --font-size-extra: 3rem;
  --font-size-title: 2.4rem;
  --font-size-Big: 1.8rem;
  --font-size-Medium: 1.6rem;
  --font-size-medium-plus: 1.5rem;
  --font-size-small: 1.2rem;
  -font-size-small-plus: 0.8rem;
  /*=Margins=*/
  --margin-top: 2rem;
  --margin-bottom: 2rem;
  --margin-left: 1rem;
  --margin-right: 1rem;
  --margin: 0 auto;
  /*=Text=*/
  --letter-spacing: 0.1rem;
}
/* === General Project ===*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
ul {
  list-style: none;
}
a {
  cursor: pointer;
  text-decoration: none;
}
img {
  object-fit: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 100%;
}
p,
span {
  letter-spacing: 0.1rem;
}
h1 {
  text-transform: uppercase;
}
/* =Animation =*/
@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
body {
  width: 100%;
  height: 100vh;
  position: fixed;
}

/* = Page= */
.background__image {
  width: 100%;
  height: 100%;
  background-image: url("/src/assets/img/mus9.jpg");
  position: absolute;
  z-index: 1;
}
.page {
  width: 100%;
  height: 100vh;
  /* display: grid;
  grid-template-columns:  50px 1fr 1fr 1fr;
  grid-template-rows: 60px 1fr 1fr;
  gap: .5rem;
  grid-template-areas: "nav    nav    nav   nav "
                                    "aside main main main"
                                    "aside main main main";
  position: relative;
  z-index: 10; */
  position: relative;
  z-index: 10;
}
.hidden {
  display: none;
}
/* .menu__active {
  display: none;
}
.wrapper__burger {
  display: none;
}
.burger-list li a{
  display: none;
} */
/* .header__navigation {
  grid-area: nav;
  width: 100%;
  height: 100%;
}
.header__navigation .navigation {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between; 
}
.navigation  .navigation__logo {
width: 15%;
height: 100%;
display: flex;
align-items: center;
}
.navigation__logo img {
object-fit: cover;
width: 50px;
height: 50px;
margin-left: 1rem;
}
.navigation__name {
 width: 150px;
 height: 100%;
 display: flex;
 align-items: center;
}

.navigation__name .name-logo {
   color: var(--clr-white); 
   font-size: var(--font-size-medium-plus);
   font-weight: 500;
   position: relative;
   right: 150px;
   filter: opacity(0.5);
} */

/* .navigation__icons {
  width: 20rem; 
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.navigation__icons a {
  color: var(--clr-white);
  font-size: 15px;
} */
.wrapper__burger {
  display: none;
}
/*Aside*/
.aside {
 /*  grid-area: aside; */
}

/*Main*/
.main {
  /* grid-area: main;
  width: 100%;
  height: 100vh; */
}
.main__background {
 /* grid-row: 2 / 4;
 grid-column: 2 / 5;
 width: 100%;
 height: 100vh; */
}